:root {
  --primary-color: #0e1811;
  --secondary-color: #28e421;
  --text-color: #080b08;
  --bg-color: #e5d3c5;
  --white-color: #c6cec6;
  --font-family: "Arial", "sans-sefif";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family:var(--font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding: 20px;
}
.container-cv {
  max-width: 800px;
  margin: 0 auto;
  background: var(--bg-color);
  box-shadow: 0 0 10px #1d0348 (0, 0, 0, 0.4);
}
header {
  background-color: var(--white-color);
  color: var(--text-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}
header h2 {
  font-size: 2.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.profile img {
  width: 50px;
  height: 50px;
  border-radius: 150%;
  border: 4px solid var(--secondary-color);
  object-fit: cover;
  background-color: var(--bg-color);
  background-size: 50px;
}
footer {
  background: #9c9993;
  text-align: center;
  padding: 20px;
  font-size: 0.8rem;
}
.main-profile {
  text-align: left;
  border-radius: 150px;
  color: var(--primary-color);
}
@media (min-width: 800px) {
  header {
    flex-direction: row;
    text-align: left;
    justify-content: flex-start;
    padding: 40px 60px;
  }
 }
 .certificados{
    border-radius: 50px;
    text-align:left;
    justify-content: flex-start;
    font-style: var(--bg-color);
 }
 .profile{
    margin: 50PX;
    background-position: 150px;
    background-color: #1d0348;
 }
 
 